

body{
    background-color: aquamarine;
}

*{
    margin: 10px;
    padding: 0;
}

.inicio_index{
    display: flex;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

h1{
    font-family: 'Roboto Mono', monospace;
    color: brown;
}


header nav ul  {
    background-color: lightblue;
    font-family: 'Roboto Mono', monospace;
    border: solid 2px ;
    text-align: right;
}

/* Si bien la fuente es la misma para el h1 como para el header, una es mas gruesa que la otra. */

img{
    width: 100% ;
    height: 100% ;
    margin: 0%;
    padding: 0%;
}










.grid-conteiner3{
    display: grid;
    grid-template-rows:repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 100vh;
    grid-template-areas:
    "texto21 texto21 texto21"
    "musica21 musica21 musica21"
    "imagen21 texto22 video21"
    "imagen22 texto23 video22"
    "imagen23 texto24 video23"
    "footer21 footer21 footer21"

}

.frase21{
    grid-area: texto21;
}

.music21{
grid-area: musica21;
}

.foto21{
    grid-area: imagen21;
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.lista21{
    grid-area: texto22
}

.multi21{
    grid-area: video21;
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.foto22{
    grid-area: imagen22;
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.lista22{
    grid-area: texto23
}

.multi22{
    grid-area: video22;
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.foto23{
    grid-area: imagen23;
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.lista23{
    grid-area: texto24
}

.multi23{
    grid-area: video23;
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.redes21{
    grid-area: footer21;
}



.grid-conteiner4{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 100vh;
    grid-template-areas: 
    "texto31 texto31 texto31"
    "musica31 musica31 musica31"
    "imagen31 texto32 video31"
    "imagen32 texto33 video32"
    "imagen33 texto34 video33"
    "footer31 footer31 footer31"
}

.frase31{
    grid-area: texto31;
}

.music31{
grid-area: musica31;
}

.foto31{
    grid-area: imagen31;
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.lista31{
    grid-area: texto32
}

.multi31{
    grid-area: video31;
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.foto32{
    grid-area: imagen32;
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.lista32{
    grid-area: texto33
}

.multi32{
    grid-area: video32;
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.foto33{
    grid-area: imagen33;
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.lista33{
    grid-area: texto34
}

.multi33{
    grid-area: video33;
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.redes31{
    grid-area: footer31;
}





.img2{
    width: 80%;
    height: 80%;
    object-fit: cover;
    transition: all 2s;
}

.menu{
    display: inline; 
}

.redes{
    width: 20px;
    height: 20px;
    object-fit: cover;
    transition: all 2s;
}

.redes_todas:hover { 
    transform: scale(3);
}

.fotos{
    transition: all 1s;
}
.foto_gral:hover{
    transform: rotate(360deg);
}

.fotos_recetas:hover{
    transform: scale(1.5);
}


.musica{
    width: 300px;
    height: 80PX;

}


.receta{
font-family: cursive;
}

.receta_pre{
    display: flex;
    align-items: center;

}

.video{
    width: 70%;
    height: 70%;
    object-fit: cover;
}

@media only screen and (max-width: 480px) {
    
    *{
        margin: 0;
        padding: 9px;
    }
    
    body {
        background-color: cadetblue;
    }


    
    .foto01{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .foto02{
       
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .foto03{
        
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .texto01{
        width: 100%;
        height: 100%;
    }

    .texto02{
        width: 100%;
        height: 100%;
    }

    .texto03{
        width: 100%;
        height: 100%;
    }

    .musica1{
        width: 100%;
        height: 100%;
    }

  
    
    
    .frase11{
        font-size: xx-small;
    }

    .musica11{
        width: 100%;
        height: 100%;
    }

    .foto11{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
    .lista11{
        font-size: xx-small;
        width: 200px;
        height: 260px;
    }

    .multi11{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .foto12{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
    .lista12{
        font-size: xx-small;
        width: 200px;
        height: 316px;
    }
 
    .multi12{
         width: 100px;
         height: 100px;
         object-fit: cover;
    }

    .foto13{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
    .lista13{
        font-size: xx-small;
        width: 200px;
        height: 320px;
    }
 
     .multi13{
         width: 100px;
         height: 100px;
         object-fit: cover;
    }

     

    .musica21{
        width: 100%;
        height: 100%;
    }

    .frase21{
        font-size: xx-small;
    }

    .musica21{
        width: 100%;
        height: 100%;
    }

    .foto21{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
    .lista21{
        font-size: xx-small;
        width: 200px;
        height: 260px;
    }

    .multi21{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .foto22{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
    .lista22{
        font-size: xx-small;
        width: 200px;
        height: 316px;
    }
 
     .multi22{
         width: 100px;
         height: 100px;
         object-fit: cover;
    }

     .foto23{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
    .lista23{
        font-size: xx-small;
        width: 200px;
        height: 350px;
    }
 
     .multi23{
         width: 100px;
         height: 100px;
         object-fit: cover;
    }

    .musica31{
        width: 100%;
        height: 100%;
    }

    .frase31{
        font-size: xx-small;
    }

    .musica31{
        width: 100%;
        height: 100%;
    }

    .foto31{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
    .lista31{
        font-size: xx-small;
        width: 200px;
        height: 360px;
    }

    .multi31{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .foto32{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
    .lista32{
        font-size: xx-small;
        width: 200px;
        height: 230px;
    }
 
     .multi32{
         width: 100px;
         height: 100px;
         object-fit: cover;
    }

     .foto33{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
    .lista33{
        font-size: xx-small;
        width: 200px;
        height: 190px;
    }
 
     .multi33{
         width: 100px;
         height: 100px;
         object-fit: cover;
    }



}

@media only screen and (min-width: 481px) and (max-width: 960px) {
    
    *{
        margin: 0;
        padding: 15px;
    }
    
    body {
        background-color: cadetblue;
    }

    
    
    .foto01{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .foto02{
       
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .foto03{
        
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .texto01{
        width: 100%;
        height: 100%;
    }

    .texto02{
        width: 100%;
        height: 100%;
    }

    .texto03{
        width: 100%;
        height: 100%;
    }

    .musica1{
        width: 100%;
        height: 100%;
    }

  
   
    .frase11{
        font-size: small;
        width: 100%;
        height: 100%;
    }

    .foto11{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }
    
    .lista11{
        font-size: xx-small;
        width: 100%;
        height: 100%;
    }

    .multi11{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }

    .foto12{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }
    
    .lista12{
        font-size: xx-small;
        width: 100%;
        height: 100%;
    }
 
    .multi12{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }

    .foto13{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }
    
    .lista13{
        font-size: xx-small;
        width: 100%;
        height: 100%;
    }
 
    .multi13{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }

    .foto21{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }
    
    .lista21{
        font-size: xx-small;
        width: 100%;
        height: 100%;
    }

    .multi21{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }

    .foto22{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }
    
    .lista22{
        font-size: xx-small;
        width: 100%;
        height: 100%;
    }
 
    .multi22{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }

    .foto23{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }
    
    .lista23{
        font-size: xx-small;
        width: 100%;
        height: 100%;
    }
 
    .multi23{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }

    .foto31{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }
    
    .lista31{
        font-size: xx-small;
        width: 100%;
        height: 100%;
    }

    .multi31{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }

    .foto32{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }
    
    .lista32{
        font-size: xx-small;
        width: 100%;
        height: 100%;
    }
 
    .multi32{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }

    .foto33{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }
    
    .lista33{
        font-size: xx-small;
        width: 100%;
        height: 100%;
    }
 
    .multi33{
        width: 150px;
        height: 150px;
        object-fit: cover;
        align-self: center;
    }

}
