@media only screen and (max-width: 480px){
    
    *{
        margin: 7px;
    }
    
    .row{
        flex-wrap: wrap
    }
    .row1{
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .row2{
        flex-direction: column;
    }

    .row2g{
        flex-direction: column;
        width: 70%;
    }

    .publicidad{
        top: 70%;
        height: 150px;
        margin: 10px;
    }

    header div div span{    
    display: table-row-group;
    }

    .img2{
        height: 60%;
        width: 60%;
    }

    .video{
        width: 80%;
    }
}