@media only screen and (min-width: 480px) and (max-width: 980px){
    *{
        margin: 7px;
    }

    header div div span{    
        display: table-row-group;
    }

    .img2{
        height: 50%;
        width: 50%;
    }

    .video{
        height: 100%;
        width: 50%;
    }

    .row2g{
        flex-direction: column;
        width: 70%;
    }

    .publicidad{
        right: 5%;
    }

    .row_bares{
        flex-direction: column;
    }
}