.receta{
    font-family: cursive;
}
    
.receta_pre{
    display: flex;
    align-items: center;
}

h1{
    font-family: 'Roboto Mono', monospace;
    color: brown;
}

.col_texto{
    color: $bg-textos;
}

.col_bares{
    background-color: $bg-col2;
    padding: 0;
    margin: 0;
    text-align: center
}


.col_ubicacion{
    background-color: $bg-col;
    padding: 0;
    margin: 0;
    text-align: center;
}