.receta{
    font-family: cursive;
}
    
.receta_pre{
    display: flex;
    align-items: center;
}

h1{
    font-family: 'Roboto Mono', monospace;
    color: brown;
}

.col_texto{
    color: $bg-textos;
}
